.box{
    font-family: sans-serif;
    padding: 20px;
    background-color:
    #1e306e;
    align-items: center;
    min-width: 800px;
    margin-bottom: 10px;
    

}
.detail{
    border: solid 1px;
    border-color: red;
    padding: 1%;
    text-align: center;
    background-color:beige;
}
h2{color: white;
text-align: center;}